<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="106.51.2.102\sql2012LDM_CONS_SDMS" connectionString="XpoProvider=MSSqlServer;data source=106.51.2.102\sql2012;user id=sa;password=bclims@1;initial catalog=LDM_CONS_SDMS;Persist Security Info=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
